* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #E65100;
    --secondary-color: #FFB300;
    --tertiary-color: #FFF3E0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--tertiary-color);
}

header {
    margin-bottom: 20%;
    background: white;
    display: flex;
    box-shadow: 5px 5px 30px rgba(0, 0, 0.5, 0.1);
}

.logo img{
    width: 120px;
    object-fit: contain;
}

.navbar ul li, .btn{
    display: none;
    width: 100%;
    order: 3;
}



/* style pour la section contact */
.contact{
    margin: 20px;
    height: auto;
}

.contact h1{
    color:chocolate;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.contact p{
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.formulaire{
    background-color: #fff;
    box-shadow: 5px 5px 30px rgba(0, 0, 0.5, 0.1);
    border-radius: 10px;
    height: auto;
    padding: 10%;
}

.form-item{
    font-size: 12px;
    margin-bottom: 15px;
}

.form-item input{
    width: 100%;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid #999;
    margin-top: 5px;
    outline: none;
}

.form-item textarea{
    width: 100%;
    padding: 30px 6px;
    border-radius: 8px ;
    border: 1px solid #999;
    margin-top: 5px;
    outline: none;
}

.form-btn{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--primary-color);
    text-align: center;
}

.form-btn a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}



/* syle pour les card infos */

.card-infos{
    background-color: white;
    margin-top: 60px;
    padding: 10%;
}

.infos-item{
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 30px;
    width: 100%;
    height: 160px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.infos-item .fa-solid{
    font-size: 20px;
    color: white;
    background-color: chocolate;
    width: 30%;
    height: 100%;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 10px;
}



.infos-item h2{
    font-size: 20px;
    font-weight: 600;
    color: chocolate;
    margin-bottom: 10px;
}

.infos-item p{
    font-size: 14px;
}


/* style pour le footer */

footer{
    background-color:#111828;
    color: #f2f2f2f2;
    font-size: 14px;
    padding: 5%;
}

footer p{
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}
.list-items h3{
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 20px;
}

.list-items ul{
    list-style: none;
}

.list-items ul li{
    margin-bottom: 10px;
}

.list-items ul li a{
    font-size: 11px;
    text-decoration: none;
    color: #f2f2f2f2;
}

.icone{
    display: flex;
}

.fa-brands{
    color: white;
}

.footer hr{
   opacity: 0.3;
   margin-top: 10px;
   margin-bottom: 10px;
}