header{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.productID{
    background-image: url("../images/pattern-background.svg");
    padding: 60px;
    height: 1100px;
}

/* style pour la bannier */
.content{
    position: relative;
    left: 50px;
    width: 93%;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 130px;
}


.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    border-radius: 15px;
    background: linear-gradient(
        rgba(0,0,0,0.5)
    );
    opacity: 0.6;
}

.content img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.content ul{
    list-style: none;
    position: absolute;
    left: -3%;
    top: 120%;
    display: flex;
    gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}

.content .fa-check{
    color: rgb(52, 255, 52);
}

.content .fa-star{
    color: yellow;
}

/* style pour les infos */
.infos{
    margin-left: 4%;
    margin-right: 13%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

/* style pour les elements a gauche */
.infos-left{
    display: grid;
    grid-template-rows: repeat(3, 140px);
    gap: 5px;
}
.infos-left1, .infos-left2{
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100px;
    width: 700px;
    border-radius: 8px;
}

.infos-left1 p{
    padding-top: 15px;
    font-size: 14px;
}


.infos-left2 ul{
    list-style: none;
    display: flex;
    gap: 15px;
}

.infos-left2 ul li{
    font-size: 12px;
    background-color: #e1dfdf;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
}

.infos-left3{
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 150px;
    border-radius: 8px;
}

.infos-left3 ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.infos-left3 ul li{
    font-size: 14px;
    margin-top: 10px;
    border-radius: 10px;
}

.service-item .fa-check{
    color: rgb(52, 255, 52);
}


/* style pour les elements a droite */
.infos-right{
    display: grid;
    grid-template-rows: regauchepeat(4, 1fr);
    gap: 20px;
}

.infos-right1{
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 25px;
    height: 200px;
    width: 430px;
    border-radius: 8px;
}

.infos-right1 ul{
    list-style: none;
}

.infos-right1 ul li{
    font-size: 14px;
    margin-top: 10px;
    border-radius: 10px;
}

.infos-right2{
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 120px;
     width: 430px;
    border-radius: 8px;
}

.infos-right2 p{
    padding-top: 15px;
    font-size: 14px;
    color: #000;
}

.infos-right2 i{
    margin-right: 10px;
}

.infos-right3{
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 120px;
    width: 430px;
    border-radius: 8px;
}

.infos-right3 ul{
    list-style: none;
    display: flex;
    gap: 15px;
}

.infos-right3 ul li{
    font-size: 12px;
    background-color: #e1dfdf;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
}

.infos-right-btn{
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 25px;
    height: 80px;
    width: 430px;
    border-radius: 8px;
}

.infos-right-btn button{
    display: flex;
    gap:5px;
    background-color: #4338CA;
    border-radius: 8px;
    padding: 8px 145px;
    border: none;
}

.infos-right-btn button a{
    text-decoration: none;
    color: white;
}

.infos-right-btn button i{
    font-size: 15px;
    color: white;
}
