/* style pour le banniere */
.banner{
    width: 100%;
    height: 300px;
    background-image: url(../images/banner-caterers.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-color: #963f10e1;
}

.banner h1{
    position: relative;
    padding-top: 100px;
    padding-left: 200px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.banner p{
    position: relative;
    font-size: 16px;
    color: white;
    padding-left: 200px;
}
