/* styles pour la bannierre principale */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
    background-image: url("../images/banner-head-accueil.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #963f10;
}

.banner-left{
    position: absolute;
    color: white;
    display: block;
}

.banner-left h1{
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.banner-left span{
    color: var(--secondary-color);
}

.banner-left p{
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: 500;
    max-width: 500px;
    line-height: 1.5;
}

.banner-right img{
    width: 600px;
    height: 300px;
    object-fit: cover;
    right: 50px;
    position: absolute;
    top: 10px;
    margin-top: 100px;
    border-radius: 20px;
    transition: 0.5s;
}

.banner-right img:hover{
    transform: scale(1.1);
    border: 4px solid white;
}


/* style pour la section score */

.score{
    padding: 60px 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background-color: var(--tertiary-color);
}

.score-item{
    text-align: center;
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.score-item:hover{
    transform:scale(1.1);
    border: 1px solid var(--primary-color);
}

.score-item h2{
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.score-item p{
    font-size: 12px;
    color: #000;
    font-weight: 500;
}

/* styles pour la section services */
.service{
    padding: 60px 20%;
    margin: 0;
}

.service h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.service p{
    font-size: 14px;
    color: #000;
    margin-bottom: 40px;
    text-align: center;
}

.service-item{
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.service-item1, .service-item2{
    background-color:#FEF3C6;
    height: 50%;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.service-item1:hover, .service-item2:hover{
    transform: scale(1.1);
}

.service-item2{
    background-color: var(--tertiary-color);
}

.service-item1 h3, .service-item2 h3{
    font-size: 16px;
    font-weight: bold;
    color: #964e21;
    margin-bottom: 5px;
}

.service-item1 p, .service-item2 p{
    display:flex;
    justify-content: center;
    text-align: start;
     color: #964e21;
    margin-bottom: 5%;
}

.service-lien{
    text-align: start;
    color: #E0A452;
    text-decoration: underline;
}

/* styles pour le map */
.map{
    position: relative;
    width: 100%;
    height: 450px;
    background-color: var(--tertiary-color);
}

.map h2{
    font-size: 24px;
    text-align: center;
    padding: 40px;
}

iframe{
    height: 300px;
    width: 55%;
    border-radius: 20px;
    position: absolute;
    right: 23%;
    top: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

iframe:hover{
    transform: scale(1.1);
}

/* style pour les temoignages */
.temoignage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.temoignage .titre{
    font-size: 24px;
    padding: 20px 80px;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
}

.box-temoignage{
    width: 80%;
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    gap: 15px;
    transition: 0.5s;
}


.temoignage-item{
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.temoignage-item:hover{
    transform: scale(1.05);
}

.temoignage-item p{
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
}

.client-info{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.name{
    border: 2px solid var(--primary-color);
    text-align: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.name p{
    font-size: 18px;
    color: black;
    padding: 10px;
}

.name-fd{
    background-color: #999;
}

.name-md{
    background-color: orangered;
}

.name-ab{
    background-color: #FFB300;
}

.name-ab p{
    color: white;
}


.name-os{
    background-color:green;
}

/* .client-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
} */

.client-text{
    margin-left: 15px;
}

.client-text h3{
    font-size: 16px;
}

.fa-star{
    color: #FFB300;
    font-size: 11px;
}

.fa-star-5{
    color: #999;
}

/* styles pour le call to action */

.action {
    background-image: url("../images/banner-head-accueil.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
}

.action-overlay {
    background-color: var(--primary-color);
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.action-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.action-item h2{
    color: white;
    font-size: 36pxpx;
    font-weight: bold;
    margin-bottom: 15px;
}

.action-item p{
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
}

.action-item button{
    padding: 15px 20px;
    border: 0;
    border-radius: 10px;
    font-size: 14px;
    color: var(--primary-color);
    background-color: white;
    transition: 0.5s;
}

.action-item button:hover{
    transform: rotate(5deg);
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: 2px solid white;
}

