/* style pour le banniere */
body{
    background-color: #FEF3C6;
}
.banner{
    width: 100%;
    height: 300px;
    background-image: url(../images/banner-caterers.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-color: #963f10;
}

.banner h1{
    position: relative;
    padding-top: 100px;
    padding-left: 400px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.banner p{
    position: relative;
    font-size: 16px;
    color: white;
    padding-left: 400px;
    margin-right: 200px;
}

/* style pour les listes de traiteurs */
.list-traiteur{
    width: 100%;
    height: 620px;
    background-color: #FEF3C6;
}

.filtres{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
}

.filtres h4{
    font-size: 24px;
    font-weight: 600;
}

.form{
    display: flex;
    gap: 20px;
}

.form-item label{
    font-size: 14px;
    font-weight: 300;
}

.form-item select{
    padding: 6px 20px;
    background-color: white;
    border: 1px solid #999;
    border-radius: 8px;
    cursor: pointer;
}

.btn-filter{
    padding: 6px 15px;
    color: white;
    background-color: orangered;
    border: 1px solid #fff;
    border-radius: 8px;
    cursor: pointer;
}

.btn-reinitialisation{
    padding: 6px 15px;
    background-color: white;
    border: 1px solid #999;
    border-radius: 8px;
    cursor: pointer;
}

.traiteurs{
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.traiteurs-item{
    display: flex;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.traiteurs-item img{
    width: 35%;
    height: 100%;
    object-fit: cover;
}


.traiteurs-infos{
    width: 65%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.info1{
    display: flex;
    justify-content: space-between;
    gap: 400px;
    padding-bottom: 8px;
    font-size: 14px;
}

.fa-star{
    color: #F8CC14;
}

.info2{
    padding-top: 8px;
}

.info2 p{
    font-size: 16px;
    font-weight: 500;
    color: #101827;
}

.info2 ul{
    display: flex;
    gap: 20px 8px;
    list-style: none;
}

.info2 ul li{
    padding: 2px 7px;
    background-color: #d2d1d1;
    border-radius: 10px;
    font-size: 12px;
    margin-bottom: 8px;
}

.infos3{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 300;
}

.infos3 p{
    margin-top: 5px;
}

.infos3 button{
    padding: 8px 10px;
    background-color: #101827;
    border: 0;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}



/* style pour le call to action */

.action {
    background-image: url("../images/banner-head-accueil.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
}

.action-overlay {
    background-color: var(--primary-color);
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.action-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.action-item h2{
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
}

.action-item p{
    color: white;
    font-size: 16px;
    margin-bottom: 40px;
}

.action-item a{
    text-decoration: none;
    padding: 15px 20px;
    border: 0;
    border-radius: 10px;
    font-size: 14px;
    color: var(--primary-color);
    background-color: white;
    transition: 0.5s;
}

.action-item a:hover{
    transform: rotate(5deg);
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: 2px solid white;
}

footer{
    margin-top: 50px;
}