/* style pour le banniere */
.banner{
    width: 100%;
    height: 300px;
    background-image: url(../images/banner-caterers.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-color: #963f10e1;
}

.banner h1{
    position: relative;
    padding-top: 100px;
    padding-left: 400px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.banner p{
    position: relative;
    font-size: 16px;
    color: white;
    padding-left: 400px;
    margin-right: 200px;
}



/* style pour le call to action */

.action {
    background-image: url("../images/banner-head-accueil.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
}

.action-overlay {
    background-color: var(--primary-color);
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.action-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.action-item h2{
    color: white;
    font-size: 36pxpx;
    font-weight: bold;
    margin-bottom: 15px;
}

.action-item p{
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
}

.action-item button{
    padding: 15px 20px;
    border: 0;
    border-radius: 10px;
    font-size: 14px;
    color: var(--primary-color);
    background-color: white;
    transition: 0.5s;
}

.action-item button:hover{
    transform: rotate(5deg);
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: 2px solid white;
}

footer{
    margin-top: 50px;
}