*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #E65100;
    --secondary-color: #FFB300;
    --tertiary-color: #FFF3E0;
}

/* styles pour le header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: white;
    padding: 20px 8%;
    width: 100%;
}

.logo img{
    width: 120px;
    object-fit: contain;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover{
    color: var(--primary-color);
    text-decoration: solid underline;
}

nav ul li a:active{
    color: var(--secondary-color);
}

.btn{
    display: flex;
    gap: 15px;
    font-size: 18px;
    font-weight: 500;
}

.btn-connexion{
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 8px;
    color: #000;
    border: 0;
    cursor: pointer;
    transition: 0.3s;
    
}

.btn-inscription{
    padding: 10px 15px;
    background-color: var(--primary-color);
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

/* styles pour la bannierre principale */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%;
    background-image: url(./images/banner-head-accueil.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #963f10;
}

.banner-left{
    position: absolute;
    color: white;
    display: block;
}

.banner-left h1{
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.banner-left span{
    color: var(--secondary-color);
}

.banner-left p{
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: 500;
    max-width: 500px;
    line-height: 1.5;
}

.banner-right img{
    width: 600px;
    height: 300px;
    object-fit: cover;
    right: 50px;
    position: absolute;
    top: 10px;
    margin-top: 100px;
    border-radius: 20px;
}

