@media screen and (min-width: 1024px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        scroll-behavior: smooth;
    }

    .navbar ul{
        display: flex;
        width: 100%;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        padding: 20px 8%;
        width: 100%;
        margin-bottom: 8%;
    }

    .navbar ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        gap: 30px;
    }


    .navbar ul li a{
        text-decoration: none;
        color: #000;
        font-size: 18px;
        position: relative;
    }

    .navbar ul li a::after{
        content: "";
        position: absolute;
        bottom: -5px;
        height: 4px;
        width: 100%;
        left: 0;
        background-color: var(--primary-color);
        transition: 0.3s;
        border-radius: 50px;
        transform: scaleX(0);
    }

    .navbar ul li a:hover{
        color: var(--primary-color);
    }

    .navbar ul li a:hover::after{
        transform: scaleX(1);
    }


    .btn{
        display: flex;
        gap: 15px;
        font-size: 18px;
        font-weight: 500;
    }

    .btn-connexion{
        font-size: 18px;
        padding: 10px 15px;
        background-color: transparent;
        border-radius: 8px;
        border: 0;
        cursor: pointer;
        transition: 0.5s;
        
    }

    .btn-connexion a{
        text-decoration: none;
        color: #000;
    }

    .btn-connexion:hover{
        transform: rotate(-5deg);
        background-color: white;
        border: 2px solid var(--primary-color);
        font-weight: bold;
    }

    .btn-connexion a:hover{
        color: var(--primary-color);
    }

    .btn-inscription{
        font-size: 18px;
        font-weight: 500;
        padding: 10px 15px;
        background-color: var(--primary-color);
        border-radius: 8px;
        border: none;
        color: white;
        cursor: pointer;
        transition: 0.5s;
    }



    /* style pour la section contact */

    .contact{
        margin-left: 20%;
        margin-right: 20%;
        height: auto;
    }

    .contact h1{
        font-size: 36px;
    }

    .contact p{
        font-size: 18px;
    }

    .infos-name{
        display: grid;
        grid-template-columns: 50% 47%;
        gap: 15px;
    }

    .form-item input{
        padding: 10px;
    }


    /* syle pour les card infos */

    .card-infos{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 100px;
    }

    .infos-item{
        width: 30%;
    }

    .form-item label{
        font-size: 17px;
    }

    .form-btn a{
        font-size: 17px;
    }

    .form-btn .fa-solid{
        font-size: 20px;
    }

    .infos-item .fa-solid{
        font-size: 20px;
        width: 25%;
        padding: 20px;
        margin-bottom: 10px;
    }

    /* style pour le footer */

    footer{
        height: 390px;
    }

    footer p{
        font-size: 16px;
    }



    .list{
        display: flex;
        justify-content: space-between;
    }


    .list-items h3{
        font-size: 19px;
        margin-bottom: 10px;
    }


    .list-items ul li a{
        font-size: 16px;
    }

    .list-items ul li a:hover{
        color: var(--primary-color);
    }

    .icone{
        display: flex;
    }

    .fa-brands{
        color: white;
    }

    .footer hr{
        margin-top: 30px;
        margin-bottom: 30px;
        opacity: 0.3;
    }

}