@media screen and (max-width: 768px) {
    .banner{
        height: auto;
        min-height: auto;
        padding: 20px 15px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .banner-left{
        position: relative;
        left: auto;
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .banner-left h1{
        font-size: 36px;
        line-height: 1.3;
        margin-top: 90px;
        margin-bottom: 15px;
        text-align: start;
    }

    .banner-left span{
        font-size: 36px;
        text-align: start;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .banner-left p{
        text-align: justify;
        font-size: 13px;
        margin: 15px 0;
        line-height: 1.6;
    }

    .banner-right{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .banner-right img{
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        width: 100%;
        height: 300px;
        margin-top: 40px;
        margin-bottom: 40px;
        display: block;
        padding: 0;
    }

     .overlay{
        width: 100%;
        height: 100%;
        opacity: 0.6;
    }

    /* Section Scores - Mobile */

    .score{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 20px 15px;
        margin-bottom: 5%;
    }

    .score-item {
        width: 100%;
        padding: 20px;
        margin: 0;
        box-sizing: border-box;
    }

    .score-item h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .score-item p {
        font-size: 14px;
        margin: 0;
    }


    /* Section Services - Mobile */
    .service{
        flex-direction: column;
        gap: 15px;
        padding: 20px 15px;
        margin-bottom: 5%;
    }
    .service-item{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px;
        margin: 0;
        box-sizing: border-box;
    }

    
     /* Section map - Mobile */
     .map h2{
        font-size: 24px;
        text-align: center;
        padding: 40px;
        margin-bottom: 60px;
     }
    iframe{
        position: relative;
        top: auto;
        left: 50px;
        bottom: 20%;
        width: 80%;
        height: 300px;
        margin-top: 40px;
        margin-bottom: 40px;
        display: block;
        padding: 0;
    }

     /* Section temoignage - Mobile */

    .temoignage{
        flex-direction: column;
        gap: 15px;
        padding: 20px 15px;
        margin-bottom: 5%;
    }

    .box-temoignage{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px;
        margin: 0;
        box-sizing: border-box;
    }

    .temoignage .titre{
        font-size: 20px;
        text-align: center;
        padding: 20px 80px;
        color: #000;
        font-weight: bold;
        margin-bottom: 20px;
    }

    /* Section call to action - Mobile */
    .action-item h2{
        color: white;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;
    }

    .action-item p{
        color: white;
        font-size: 14px;
        margin-bottom: 15px;
        text-align: center;
    }

    .action-item a:hover{
        font-size: 12px;
        transform: rotate(2deg);
        background-color: var(--primary-color);
        color: white;
        font-weight: bold;
        border: 1px solid white;
    }

}

@media screen and (max-width: 480px) {
    .banner{
        height: auto;
        min-height: auto;
        padding: 20px 15px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .banner-left{
        position: relative;
        left: auto;
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .banner-left h1{
        font-size: 24px;
        line-height: 1.3;
        margin-top: 90px;
        margin-bottom: 15px;
        text-align: start;
    }

    .banner-left span{
        font-size: 24px;
        text-align: start;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .banner-left p{
        text-align: justify;
        font-size: 12px;
        margin: 15px 0;
        line-height: 1.6;
    }

    .banner-right{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .banner-right img{
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        width: 100%;
        height: 300px;
        margin-top: 40px;
        margin-bottom: 40px;
        display: block;
        padding: 0;
    }

    .overlay{
         position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.6;
    }

    /* Section Scores - Mobile */

    .score{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 20px 15px;
        margin-bottom: 5%;
    }

    .score-item {
        width: 100%;
        padding: 20px;
        margin: 0;
        box-sizing: border-box;
    }

    .score-item h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .score-item p {
        font-size: 10px;
        margin: 0;
    }


    /* Section Services - Mobile */
    .service{
        flex-direction: column;
        gap: 15px;
        padding: 20px 15px;
        margin-bottom: 5%;
    }
    .service-item{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px;
        margin: 0;
        box-sizing: border-box;
    }

    
     /* Section map - Mobile */
     .map h2{
        font-size: 18px;
        text-align: center;
        padding: 40px;
        margin-bottom: 60px;
     }
    iframe{
        position: relative;
        top: auto;
        left: 30px;
        bottom: 20%;
        width: 80%;
        height: 300px;
        margin-top: 40px;
        margin-bottom: 40px;
        display: block;
        padding: 0;
    }

     /* Section temoignage - Mobile */

    .temoignage{
        flex-direction: column;
        gap: 15px;
        padding: 20px 15px;
        margin-bottom: 5%;
    }

    .box-temoignage{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px;
        margin: 0;
        box-sizing: border-box;
    }

    .temoignage .titre{
        font-size: 18px;
        text-align: center;
        padding: 20px 80px;
        color: #000;
        font-weight: bold;
        margin-bottom: 20px;
    }

    /* Section call to action - Mobile */
    .action-item h2{
        color: white;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;
    }

    .action-item p{
        color: white;
        font-size: 12px;
        margin-bottom: 15px;
        text-align: center;
    }

    .action-item a{
        text-decoration: none;
        padding: 15px 20px;
        border: 0;
        border-radius: 10px;
        font-size: 8px;
        color: var(--primary-color);
        background-color: white;
        transition: 0.5s;
    }

    .action-item a:hover{
        font-size: 8px;
        transform: rotate(2deg);
        background-color: var(--primary-color);
        color: white;
        font-weight: bold;
        border: 1px solid white;
    }

}