@media (max-width: 768px) {

     /* Section banniere - Mobile */
    .banner {
        height: 220px;
    }

    .banner h1 {
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 26px;
        text-align: start;
        margin-bottom: 10px;
    }

    .banner p {
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 0;
        font-size: 14px;
        text-align: start;
    }

     /* Section filtre - Mobile */
    .filtres {
        flex-direction: column;
        gap: 20px;
        margin: 0;
    }

    .form {
        flex-direction: column;
        gap: 15px;
    }

    .form-item select{
        width: 100%;
    }

    .form-btn{
        display: flex;
        gap: 15px;
        margin-left: -15px;
        margin-bottom: 50px;
    }

    .btn-filter{
        width: 28%;
    }


    /* Section lise traiteur - Mobile */
    .list-traiteur {
        height: auto;
    }

    .traiteurs {
        width: 95%;
        margin-left: 2.5%;
        margin-bottom: 40px;
    }


    .traiteurs-item {
        flex-direction: column;
        height: auto;
    }

    .traiteurs-item .images{
        position: relative;
    }

    .traiteurs-item .images img {
        width: 100%;
        height: 180px;
    }

    .traiteurs-item .images p {
        right: 2;
        top: 10px;
        font-size: 12px;
    }

    

    .traiteurs-infos {
        position: relative;
        left: 0;
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .info1 {
        display: flex;
        gap: 5px;
        font-size: 13px;
    }

    .info2 p {
        font-size: 15px;
    }

    .info2 ul {
        flex-wrap: wrap;
    }

    .infos3 {
        display: flex;
        gap: 15px;
        font-size: 16px;
    }

    .infos3 a {
        text-align: center;
        padding: 5px 10px;
    }


    /* Section call to action - Mobile */
    .action {
        height: 240px;
    }

    .action-item h2 {
        font-size: 20px;
        font-weight: bold;
    }

    .action-item p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .action-item a {
        padding: 10px 15px;
        font-size: 13px;
    }

    footer {
        margin-top: 30px;
    }
}
